<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Book service</title>
</head>
<body>
<div class="row">
    <div class="col-md-12 m-3">
            <h3>Login</h3>
            <form id="loginForm">
                <input name="login" placeholder="Login">
                <input name="password" type="password" placeholder="Password">
                <button type="submit" class="btn btn-success">Log in</button>
            </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(function () {
        $('#loginForm').submit(function (e) {
            e.preventDefault();


            $.ajax({
                type: 'POST',
                url: '/login',
                dataType: 'json',
                data: JSON.stringify({
                    login: $(this).find('[name=login]').val(),
                    password: $(this).find('[name=password]').val()
                }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {
                    window.location.href = window.location.origin + "/profile";


                },
                error: function (response) {
                    console.log(response);
                    alert("No such user");
                }
            });
        });


        $('#logout').click(function () {

            $.ajax({
                url: '/logout',
                success: function () {
                    window.location.href = window.location.origin + "/";
                },
                error: function (xhr) {
                    console.log(JSON.stringify(xhr.responseJSON, null, 4));
                }
            });
        });
    });
</script>
</body>
</html>